@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

body {
  font-family: "Dancing Script", cursive;
}

.title {
  font-size: 24px;
}

.container {
  height: 100vh;
}

img {
  height: 350px;
}

@media (max-width: 650px) {
  img {
    height: 200px;
  }

  .title {
    font-size: 0.9rem;
  }
}
